* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.logo {
    max-width: 100px;
}

.logo img {
    width: 100%;
}

.header {
    height: 124px;
}

.header-box,
.footer-box {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {}

.footer {
    height: 156px;
}

.footer-nav {
    flex-grow: 1;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}